// Colors

$primary-color : #5bc08c;
$secondary-color : #f99868;
$base-color : #fafafa;

// Font Families

$primary-font : 'Roboto', 'Helvetica Neue', sans-serif;
$secondary-font : 'Merriweather', Georgia, serif;

// Font Sizing

$primary-font-size: 17px;
$secondary-font-size: 14px;
