.main-navigation {
	background-color: $primary-color;
	font-size: 14px;
	position: relative;
}
.main-navigation ul {
	display: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	list-style: none;
	margin: 0;
	padding:0;
	border-top: 1px solid lighten( $primary-color, 20% );
}
.main-navigation li {
	position: relative;
}
.main-navigation a {
	padding:15px 20px;
	display: block;
	text-decoration: none;
	color:#fff;
	font-weight:600;
	border-bottom: 1px solid lighten( $primary-color, 20% );
}
.main-navigation a:hover,
.main-navigation li:hover a {
	color: #fff;
	background-color: lighten( $primary-color, 5% );
}
.main-navigation .menu-item-has-children > a {
	padding-right:30px;
}
.main-navigation ul ul a:hover {
	background-color: $primary-color;
}
.dropdown-toggle {
	display: inline-block;
	position: absolute;
	right:8px;
	top:8px;
	height:36px;
	width:36px;
	border: 1px solid lighten( $primary-color, 20% );
	cursor: pointer;
}
.dropdown-toggle:after {
	font-family: 'gather-icons';
	color:#fff;
	font-size:14px;
	line-height: 1;
	content: '\f0d7';
	position: absolute;
	right: 50%;
	margin-right:-4px;
	top:50%;
	margin-top:-7px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
	transition: transform .2s ease-in-out;
}
.main-navigation ul ul {
	border-top: none;
}
.main-navigation ul ul a {
	padding-left:40px;
}

/* Mobile Toggle
-------------------------------------------------------------- */

.menu-toggle {
	display: inline-block;
	background:none;
	line-height: 1;
	cursor: pointer;
	text-align: left;
	box-shadow: none;
	color: #fff;
	padding: 18px 20px 19px;
	margin: 0;
	font-weight: 600;
}
.menu-toggle:before {
    font-family: 'gather-icons';
    content: '\f0c9';
    speak: none;
    display: inline-block;
    font-weight: normal;
    vertical-align: baseline;
    margin: 0 5px 0 0;
}
.menu-toggle:focus {
	box-shadow: none;
	border:none;
}

/* Search
-------------------------------------------------------------- */

.main-navigation .toggle-search-link {
	display: none;
}
.main-navigation .menu-search a:before {
	content: '\f002';
}
.main-navigation .menu-search:hover a:before {
	content: '\f00e';
}
.main-navigation .menu-search .active:before {
	content: '\f010';
}
.toggle-search {
	background:rgba(0,0,0,.1);
	border-radius: 4px;
	padding: 14px 12px;
}

/* Small Screen Sizes */
@media screen and ( max-width: 1039px ) {
	.main-navigation .col-width {
		width:100%;
	}
	.dropdown-toggle.toggled:after {
		transform: rotate(180deg);
	}
}

/* Large Screen Sizes */
@media screen and ( min-width: 1040px ) {
	.menu-toggle {
		display: none;
	}
	.dropdown-toggle {
		width: auto;
		border: none;
	}
	.dropdown-toggle:after {
		right: 5px;
	}
	.main-navigation ul {
		border: none;
		display: block;
	}
	.main-navigation li {
		display: inline-block;
	}
	.main-navigation a {
		display: inline-block;
		border: none;
		padding: 14px 12px;
		color:#fff;
	}
	.main-navigation .menu-item-has-children > a {
		padding-right:30px;
	}
	.main-navigation ul ul {
		display: none;
		width:220px;
		background: #5BC08C;
		position: absolute;
		left: 0;
		top:49px;
		z-index: 99999;
		border-top: 1px solid lighten( $primary-color, 20% );
	}
	.main-navigation ul li:hover > ul {
		display: block;
	}
	.main-navigation ul ul li {
		display: block;
		margin:0;
	}
	.main-navigation ul ul a,
	.main-navigation ul li:hover ul a {
		display: block;
		padding:15px 20px;
		border-bottom: 1px solid lighten( $primary-color, 20% );
	}
	.main-navigation ul ul li:last-child a {
		border-bottom: none;
	}
	.main-navigation ul ul ul {
		margin: 0;
		left:220px;
		top:-1px;
		border-left: 1px solid lighten( $primary-color, 20% );
	}
	.main-navigation ul ul ul:before {
		display: none;
	}

	/* Social */
	.main-navigation li.social,
	.main-navigation li.menu-search {
		float:right;
	}
	.main-navigation li.inline {
		float: none;
	}
	.main-navigation .social > a,
	.main-navigation .menu-search a {
		display: inline-block;
	}
	.main-navigation .social span {
		margin: 0;
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
	.main-navigation .social a:before,
	.main-navigation .menu-search a:before {
		display: inline-block;
		font-family: 'gather-icons';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.main-navigation .social a[href*="behance.com"]:before {
		content: '\f1b4';
	}
	.main-navigation .social a[href*="dribbble.com"]:before {
		content: '\f17d';
	}
	.main-navigation .social a[href*="facebook.com"]:before {
		content: '\f09a';
	}
	.main-navigation .social a[href*="flickr.com"]:before {
		content: '\f16e';
	}
	.main-navigation .social a[href*="github.com"]:before {
		content: '\f09b';
	}
	.main-navigation .social a[href*="linkedin.com"]:before {
		content: '\f0e1';
	}
	.main-navigation .social a[href*="pinterest.com"]:before {
		content: '\f0d2';
	}
	.main-navigation .social a[href*="plus.google.com"]:before {
		content: '\f0d5';
	}
	.main-navigation .social a[href*="instagr.am"]:before,
	.main-navigation .social a[href*="instagram.com"]:before {
		content: '\f16d';
	}
	.main-navigation .social a[href*="skype.com"]:before {
		content: '\f17e';
	}
	.main-navigation .social a[href*="soundcloud.com"]:before {
		content: '\f1be';
	}
	.main-navigation .social a[href*="spotify.com"]:before {
		content: '\f1bc';
	}
	.main-navigation .social a[href*="tumblr.com"]:before {
		content: '\f173';
	}
	.main-navigation .social a[href*="twitter.com"]:before {
		content: '\f099';
	}
	.main-navigation .social a[href*="vimeo.com"]:before {
		content: '\f194';
	}
	.main-navigation .toggle-search-link {
	}
	.toggle-search {
		margin:0 0 14px;
		display: none;
	}
}